@media (max-width:1080px){

*{
    font-family: 'Poppins', sans-serif;
    
}
body{
    background-color: #E0BBE4;
}
.box{
    width: 95%;
    height: 400px;
    background-color:rgb(0, 0, 0, 0.1);
    margin:5%;
    border-radius: 3%;
    padding-top: 10px;
}
.pbox{
    width: 150px;
    height: 150px;
    margin: 5%;
}

.pbox img{
    width: 150px;
    height: 150px;
}
.pcontent{
    margin: 5%;
}
.pcontent p{
    color: rgba(255, 255, 255, 0.9);
}
.pcontent button{
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFDFD3;
    text-align: center;
    border: none;
    text-decoration: none;
    padding: 5px 15px;
    cursor: pointer;
    margin-left: 23%;
    border-radius: 10px;
}
.vidio{
    width: 85%;
    height: 500px;
    margin-left: 15%;
    margin-top: -300px;
    background-color: none;
    visibility: hidden;
}
.vidio video{
    height: 500px;
}
.vidio button{
    position: absolute;
    color: rgba(0, 0, 0, 0.5);
    background-color: #FFDFD3;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 20px;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
}
}